.header {
	margin-bottom: 20px;
  }

  .has-tooltip {
	color: #000;
	background: yellow;
	position: relative;
  }

  .has-tooltip:hover {
	color: red;
  }

  .tooltip {
	position: absolute;
	display: none;
	background: black;
	padding: 5px;
	border-radius: 5px;
	color: #fff;
	top: 100%;
	left: 0;
  }

  .tooltip_active {
	display: block;

	