.header {
	margin-bottom: 20px;
  }
  
  .has-tooltip {
	color: #000;
	background: yellow;
  }
  
  .tooltip {
	position: absolute;
	display: none;
	background: black;
	padding: 5px;
	border-radius: 5px;
	color: #fff;
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  }
  
  .tooltip_active {
	display: inline-block;
  }